<!DOCTYPE html>
<html>
<head>
  <title>Home - Welcome</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="index.html">1<sup>st</sup> WebApp</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="basecss.html">About</a></li>
                                    <li><a href="components.html">Contact</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Beyond</li>
                                    <li><a href="#">Testing Purpose</a></li>
                                </ul>
                            </li>
                        </ul>
                 </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!--================================================== -->

<div class="container">
    <div class="marketing">
            <!-- Rows of columns -->
            <div class="row">
                <div class="span12">


<div class="alert">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>


<% flash.each do |name, msg| %>
  <div class="alert"> 
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  </div>
<% end %>
<%= yield %>
</div>
</div>
</div>
</div>
</body>
</html>
