<!DOCTYPE html>
<html>
<head>
  <title>Home - Welcome</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="index.html">1<sup>st</sup> WebApp</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="basecss.html">About</a></li>
                                    <li><a href="components.html">Contact</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Beyond</li>
                                    <li><a href="#">Testing Purpose</a></li>
                                </ul>
                            </li>
                        </ul>
                 </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!--================================================== -->
<%= yield %>
    <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="docs/jquery-1.8.0.js"></script>
<script type="text/javascript" src="docs/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="docs/bootstrap-alert.js"></script>
<script type="text/javascript" src="docs/bootstrap-button.js"></script>
<script type="text/javascript" src="docs/bootstrap-carousel.js"></script>
<script type="text/javascript" src="docs/bootstrap-collapse.js"></script>
<script type="text/javascript" src="docs/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="docs/bootstrap-modal.js"></script>
<script type="text/javascript" src="docs/bootstrap-popover.js"></script>
<script type="text/javascript" src="docs/bootstrap-scrollspy.js"></script>
<script type="text/javascript" src="docs/bootstrap-tab.js"></script>
<script type="text/javascript" src="docs/bootstrap-transition.js"></script>
<script type="text/javascript" src="docs/bootstrap-typeahead.js"></script>
<script type="text/javascript" src="docs/jquery.validate.js"></script>
<script type="text/javascript" src="docs/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="docs/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="docs/metro-bootstrap/metro-docs.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36060270-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
