<hr class="soften">
<div class="container">
    <div class="marketing">
            <!-- Rows of columns -->
            <div class="row">
                <div class="span6">
                    <h2>Welcome to your dashboard!</h2>
		</div>
	    </div>
    </div>
</div>

