<!DOCTYPE html>
<html>
<head>
  <title>MicroBlogging App :P</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="index.html">1<sup>st</sup> WebApp</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="basecss.html">About</a></li>
                                    <li><a href="components.html">Contact</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Beyond</li>
                                    <li><a href="#">Testing Purpose</a></li>
                                </ul>
                            </li>
                        </ul>
                 </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!--================================================== -->
<%= yield %>
</>
</body>
</html>
